* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body {
    background-color: #0D0D0D;
    color: white;
    font-family: "Jost", sans-serif;
    font-weight: 800;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    transition: background-color 0.3s ease;
    z-index: 1000;
    font-family: "Jost", sans-serif;
    font-weight: 400;
  }
  
  .navbar.scrolled {
    background-color: #030303;
  }
  
  .navbar img {
    height: 40px;
  }
  
  .nav-links {
    display: flex;
    gap: 1.5rem;
  }
  
  .nav-links a {
    position: relative;
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: all 0.3s ease;
  }
  
  .nav-links a::after {
    content: '';
    position: absolute;
    bottom: -4px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 2px;
    background-color: #D9B855;
    transition: width 0.5s ease;
    transform-origin: center;
  }
  
  .nav-links a:hover::after {
      width: 100%;
  }
  
  .menu-toggle {
    display: none; 
    flex-direction: column;
    cursor: pointer;
    margin-left: 20px; 
      
  }
  
  .menu-toggle div {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 4px 0;
  }
  
  .nav-links {
    display: flex;
    gap: 1.5rem;
  }

  @media (max-width: 644px) {
    .nav-links {
      display: none; 
      flex-direction: column;
      background-color: #030303;
      position: absolute;
      top: 60px; 
      right: 0;
      width: 30%;
      text-align: center;
      padding: 1rem 0;
      z-index: 1001;    
  }
  
    .nav-links.show {
      display: flex; 
    }
  
    .nav-links a {
      padding: 0.7rem 0;
      margin: 0;
      border-bottom: 1px solid #333;
    }
  
    .nav-links a::after {
      display: none; 
    }
  
    .menu-toggle {
      display: flex; 
      z-index: 1002; 
    }
  
    .footer-links-left {
      display: flex;
      flex-direction: column; 
      align-items: start; 
      width: 50%; 
      margin-bottom: 10px; 
      order: -1; 
    }
  
    .footer-links-right{
      display: flex;
      flex-direction: column; 
      align-items:end ; 
      width: 50%; 
      margin-bottom: 10px; 
      order: -1;
    }
  
    .footer-logo {
      width: 100%; 
      text-align: center; 
    }
  }  


.carousel {
    width: 100%;
    overflow: hidden;
    position: relative;
    text-align: center;
    padding: 7rem;
}

.carousel h2 {
    font-size: 2rem;
    color: #D9B855;
    margin-bottom: 1rem;
    text-transform: uppercase;
    text-align: center;
}

.carousel-container {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-container img {
    width: 85%;
    flex-shrink: 0;
    border-radius: 15px;
    margin: auto;
}

.menu-section {
    padding: 3rem 0;
}

.menu-section h2 {
    font-size: 2rem;
    color: #D9B855;
    text-transform: uppercase;
    margin-bottom: 2rem;
    text-align: center;
}

.carousel-wrapper {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.carousel-wrapper img {
    width: 180px;
    cursor: pointer;
    opacity: 0.5;
    transition: opacity 0.3s, transform 0.3s;
}

.carousel-wrapper img.selected {
    width: 250px;
    opacity: 1;
    transform: scale(1.2);
}

footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: #000;
    color: white;
    padding: 2rem;
    font-family: "Jost", sans-serif;
    font-weight: 400
  }
  
  .footer-links-left,
  .footer-links-right {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  
  .footer-logo {
    text-align: center;
    flex: 1;
  }
  
  .footer-links-right a,
  .footer-links-left a {
    text-decoration: none;
    color: white;
  }
  
  .social-link {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

@media (max-width: 1024px), (max-width: 768px) {
    .carousel-container img {
        width: 85%;
    }
    .nav-links {
        gap: 1rem;
    }
    .carousel-wrapper img {
        width: 150px;
    }
}

@media (max-width: 480px) {
    .nav-links {
        display: none;
    }
    .hamburger-menu {
        display: flex;
    }
    .carousel-wrapper img {
        width: 120px;
    }
}
